body{overflow-x:hidden;font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif}

.text-muted{color:#777}

.text-primary{color:#fed136}p{font-size:14px;line-height:1.75}

p.large{font-size:16px}

a,a:hover,a:focus,a:active,a.active{outline:0}

a{color:#fed136}

a:hover,a:focus,a:active,a.active{color:#fec503}

h1,h2,h3,h4,h5,h6{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}

.img-centered{margin:0 auto}.bg-light-gray{background-color:#f7f7f7}

.bg-darkest-gray{background-color:#222}

.btn-primary{color:#fff;background-color:#fed136;border-color:#fed136;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#fec503;border-color:#f6bf01}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-image:none}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#fed136;border-color:#fed136}

.btn-primary .badge{color:#fed136;background-color:#fff}

.btn-xl{color:#fff;background-color:#fed136;border-color:#fed136;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700;border-radius:3px;font-size:18px;padding:20px 40px}

.btn-xl:hover,.btn-xl:focus,.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl{color:#fff;background-color:#fec503;border-color:#f6bf01}

.btn-xl:active,.btn-xl.active,.open .dropdown-toggle.btn-xl{background-image:none}

.btn-xl.disabled,.btn-xl[disabled],fieldset[disabled] .btn-xl,.btn-xl.disabled:hover,.btn-xl[disabled]:hover,fieldset[disabled] .btn-xl:hover,.btn-xl.disabled:focus,.btn-xl[disabled]:focus,fieldset[disabled] .btn-xl:focus,.btn-xl.disabled:active,.btn-xl[disabled]:active,fieldset[disabled] .btn-xl:active,.btn-xl.disabled.active,.btn-xl[disabled].active,fieldset[disabled] .btn-xl.active{background-color:#fed136;border-color:#fed136}

.btn-xl .badge{color:#fed136;background-color:#fff}

.navbar-default{background-color:rgba(34,34,34,.9);border-color:transparent;text-shadow:0px 0px 4px rgba(0, 0, 0, 1);}

.navbar-default .navbar-brand{color:#fed136;font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active{color:#fec503}

.navbar-default .navbar-collapse{border-color:rgba(255,255,255,.02)}

.navbar-default .navbar-toggle{background-color:#fed136;border-color:#fed136}

.navbar-default .navbar-toggle .icon-bar{background-color:#fff}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#fed136}

.navbar-default .nav li a{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:400;letter-spacing:1px;color:#fff}

.navbar-default .nav li a:hover,.navbar-default .nav li a:focus{color:#fed136;outline:0}.navbar-default .navbar-nav>.active>a{border-radius:0;color:#fff;background-color:#fed136}

.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#fff;background-color:#fec503}

@media (min-width:1250px){.navbar-default{background-color:transparent;padding:25px 0;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s;border:0}.navbar-default .navbar-brand{font-size:2em;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}.navbar-default .navbar-nav>.active>a{border-radius:3px}.navbar-default.navbar-shrink{background-color:rgba(34,34,34,.9);padding:10px 0}.navbar-default.navbar-shrink .navbar-brand{font-size:1.5em}}

header{background-image:url(../img/background.png);background-repeat:none;background-attachment:fixed;background-position:center center;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;-o-background-size:contain;text-align:center;color:#fff}

header .intro-text{padding-top:0px;padding-bottom:50px}

header .intro-text .intro-lead-in{margin-bottom:25px}

header .intro-text .intro-heading{font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:500;font-size:50px;line-height:50px;margin-bottom:25px}

@media (min-width:768px){header .intro-text{padding-top:-20px;padding-bottom:0px}header .intro-text .intro-lead-in{margin-bottom:25px}header .intro-text .intro-heading{margin-bottom:50px}}

section{padding:40px 0; color:#CCC;}

section h2.section-heading{font-size:40px;margin-top:0;margin-bottom:15px}

section h3.section-subheading{font-size:16px;font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:none;font-style:italic;font-weight:400;margin-bottom:75px}

@media (min-width:768px){section{padding:100px 0}}

section#details{background-image:url(../img/detBg.jpg);background-position:center center;background-repeat:none;background-size:cover;}

section#contact{background-color:#222;background-image:url(../img/map-image.png);background-position:center;background-repeat:no-repeat;font-family:"Jura","sans-serif";}

section#contact .section-heading{color:#fff}

footer{padding:25px 0;text-align:center}

footer span.copyright{line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}

footer ul.quicklinks{margin-bottom:0;line-height:40px;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;text-transform:uppercase;text-transform:none}

ul.social-buttons{margin-bottom:0}

ul.social-buttons li a{display:block;background-color:#222;height:40px;width:40px;border-radius:100%;font-size:20px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}

ul.social-buttons li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#fed136}

.btn:focus,.btn:active,.btn.active,.btn:active:focus{outline:0}




@media (max-width: 1250px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

